#faktura_template {
    width: 45rem;
    margin: 2.4rem 0 0 2rem;
    table-layout: fixed;
    font-style:normal;
    font-family: Cambria;
    font-size: 9.5pt;
    border-collapse:collapse;
}

#faktura_template tr {
    height: 1.35rem;
}

#faktura_template td {
    padding: 0;
    margin: 0;
}

#faktura_template #header {
    background: rgb(21, 128, 220);
    height: 2.2rem;
}

#faktura_template #faktura_row {
    height: 2.4rem;
    font-size: 14pt;
    font-family: Cambria;
    color:#000000
}

#faktura_template #faktura_row td:first-child {
    font-style:normal;
    font-weight:bold;
}

#faktura_template #faktura_row td:nth-child(2) {
    text-align: right;
}

#faktura_template #faktura_numbering {
    text-align: right;
}

#faktura_template .title_row {
    height: 1.8rem;
}

#faktura_template .title_row td {
    font-weight: bold;
    font-style:normal;
    font-family: Cambria;
    font-size: 12pt;
}

#faktura_template .big_row {
    height: 2.3rem;
    font-size: 8.5pt;
}

#faktura_template .items_header {
    background: rgb(21, 128, 220);
    color: #fff;
    font-weight: 600;
    font-family: Cambria;
    text-align: center;
    font-size: 9pt;
}

#faktura_template .items {
    background: rgb(243, 243, 243);
    text-align: center;
    font-size: 9pt;
    height: 1.5rem;

}

#faktura_template .items td:first-child {
    text-align: left;
}

#faktura_template .bank_title {
    font-weight: bold;

}

#faktura_template .dph_td {
    font-weight: 600;
    text-align: right;
    font-size: 7pt;
    color: gray;
}


#faktura_template .left {
    text-align: left;
}

#faktura_template .right {
    text-align: right;
}

#faktura_template .underlined {
    border-bottom: #000000 1px solid;
}

#faktura_template .celkem_s_dph {
    font-weight: 600;
    font-size: 9pt;
    text-align: right;
}

#faktura_template .cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#faktura_template .full_price {
    font-size: 15pt;
    text-align: right;
}

#faktura_template .dodatek {
    font-size: 9pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#faktura_template .name {
    height: 2.2rem;
}

#faktura_template .prevzal {
    height: 2.2rem;
}