.form {
    width: 40vw;
    margin: auto;
}

.form-row-padding {
    padding: 0 0.75rem 0 0.75rem;
}

* {
    box-sizing: border-box;
}

.sidebar {
    height: auto;
    min-height: 92.67vh;
    width: 280px;
    background: rgb(38, 42, 48);
}

#background-image {
    background: url("/static/img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 89.3vh;
}

#background-image-second {
    background: url("/static/img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 89.3vh;
}

.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8em;
}

.logo-icon {
    height: 25rem;
    transition: ease .3s;
}

.logo-icon:hover {
    transform: scale(1.1);
}

#faktury-table-container {
    height: 48vh !important;
    overflow: scroll !important;
}

#faktury-table-container table {
    width: 800px;
}

.table-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.faktury-trash-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.popisky-container {
    max-height: 400px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#bank_account_col {
    display: none;
}

input[readonly]{
    background-color:transparent !important;
    font-size: 1em !important;
}

.hidden {
    display: none;
}

#main-div {
    min-height: 92.67vh;
}

#fakturuji-div {
    background: rgba(255,255,255,0.7);
}

#popisek-nad-polozky-div div {
    height: auto;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

#faktura_preview {
    overflow: scroll;
}

#firma-div-table {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 390px;
}