{% extends "base.html" %}

{% block main %}

<section class="mt-5 p-sm-5" id="account-div">
	<section class="p-5 w-50 m-auto" method="GET">
		<h2 class="text-center">Váš účet</h2>
		<div class="form-group mb-2">
    		<label>Uživatelské jméno</label>
    		<input type="text" class="form-control" value="{{ session['user_data']['name'] }}" readonly>
  		</div>
		<div class="form-group mb-2">
    		<label>Email</label>
    		<input type="email" class="form-control"readonly value="{{ session['user_data']['email'] }}">
  		</div>
		<div class="row">
			<a class="col text-secondary" onclick="DeleteAccountDataDoubleCheck(this);">Vymazat Váš účet a všechna data o něm</a>
			<a class="col-5 text-end" href="/unlogin">Odhlásit se</a>
		</div>
	</section>
</section>

{% endblock %}