{% extends "base.html" %}

{% block main %}

<section class="mt-5 p-5">
	<section class="p-5 w-50 m-auto" method="GET">
		<h2 class="text-center">Váš účet</h2>
		<div class="form-group mb-2">
    		<label>Uživatelské jméno</label>
    		<input type="text" class="form-control" value="{{ session['user_data']['name'] }}" readonly>
  		</div>	
		<div class="form-group mb-2">
    		<label>Počet faktur</label>
    		<input type="email" class="form-control"readonly value="{{ faktura_count }}">
  		</div>		
		<a href="/unlogin">Odhlásit se</a> 
	</section>	
</section>

{% endblock %}