<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/faktura.css" type="text/css">
    <link rel="stylesheet" href="C:/Users/zikav/dev/Python/fakturujto/static/css/faktura.css" type="text/css">
    <title>Faktura</title>

</head>
<body style="margin: 0; padding: 0;">
    <table border="0" id="faktura_template">
        <colgroup>
            <col style="width:1.8rem">
            <col style="width:6.1rem">
            <col style="width:0.8rem">
            <col style="width:1.8rem">
            <col style="width:7.8rem">
            <col style="width:2.8rem">
            <col style="width:2.8rem">
            <col style="width:2.8rem">
            <col style="width:6.8rem">
            <col style="width:0.8rem">
            <col style="width:2.8rem">
            <col style="width:5.8rem">
          </colgroup>
        <tr id="header"><td colspan="12"></td></tr>
        <tr id="faktura_row">
            <td colspan="10">Faktura - daňový doklad</td>
            <td colspan="2">{{ faktura_data["cislo_faktury"] }}</td>
        </tr>
        <tr style="height: 1rem"></tr>
        <tr class="title_row">
            <td colspan="5">Dodavatel</td>
            <td colspan="2"></td>
            <td colspan="5">Odběratel</td>
        </tr>
        <tr>
            <td colspan="5">{{ dodavatel[0] }}</td>
            <td colspan="2"></td>
            <td colspan="5">{{ odberatel[0] }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ dodavatel[3] }} {{ dodavatel[4] }}</td>
            <td></td>
            <td colspan="2" class="right">{{ dodavatel[10] }}</td>
            <td colspan="2"></td>
            <td colspan="2">{{ odberatel[3] }} {{ odberatel[4] }}</td>
            <td></td>
            <td colspan="2" class="right">{{ odberatel[10] }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ dodavatel[5] }} {{ dodavatel[6] }}</td>
            <td></td>
            <td colspan="2" class="right">{{ dodavatel[11] }}</td>
            <td colspan="2"></td>
            <td colspan="2">{{ odberatel[5] }} {{ odberatel[6] }}</td>
            <td></td>
            <td colspan="2" class="right">{{ odberatel[12] }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ dodavatel[7] }}</td>
            <td></td>
            <td colspan="2" class="right"{{ dodavatel[13] }}</td>
            <td colspan="2"></td>
            <td colspan="2">{{ odberatel[7] }}</td>
            <td></td>
            <td colspan="2" class="right">{{ odberatel[13] }}</td>
        </tr>
        <tr>
            <td>IČ:</td>
            <td>{{ dodavatel[1] }}</td>
            <td colspan="5"></td>
            <td>IČ:</td>
            <td>{{ odberatel[1] }}</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>DIČ:</td>
            <td>{{ dodavatel[2] }}</td>
            <td></td>
            <td colspan="2" style="text-align: right;">
                {% if faktura_data["dodavatel_dph"] == 1 %}
                    Dodavatel je plátce DPH
                {% endif %}
            </td>
            <td colspan="2"></td>
            <td>DIČ:</td>
            <td>{{ odberatel[2] }}</td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr class="big_row">
            <td colspan="5">Vedeno v: {{ dodavatel[8] }} {{ dodavatel[9] }}</td>
            <td colspan="2"></td>
            <td colspan="5">{% if faktura_data["prenesena_dph"] %} Faktura vystavena v režimu přenesené daňové povinnosti. Daň odvede zákazník. {% endif %}</td>
        </tr>
        <tr style="height: 1rem"></tr>
        <tr>
            <td colspan="2">{{ faktura_data["variable_title0"] if faktura_data["variable_title0"] else "" }}</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["variable_data0"] if faktura_data["variable_data0"] else "" }}</td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td></td>
            <td colspan="2" class="right"></td>
        </tr>
        <tr>
            <td colspan="2">{{ faktura_data["variable_title1"] if faktura_data["variable_title1"] else ""  }}</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["variable_data1"] if faktura_data["variable_data1"] else "" }}</td>
            <td colspan="2"></td>
            <td colspan="2">Datum vystavení:</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["datum_vystaveni"] }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ faktura_data["variable_title2"] if faktura_data["variable_title2"] else "" }}</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["variable_data2"] if faktura_data["variable_data2"] else "" }}</td>
            <td colspan="2"></td>
            <td colspan="2">Datum zdan. plnění:</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["datum_zdanpl"] }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ faktura_data["variable_title3"] if faktura_data["variable_title3"] else "" }}</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["variable_data3"] if faktura_data["variable_data3"] else "" }}</td>
            <td colspan="2"></td>
            <td colspan="2">Datum splatnosti:</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["datum_splatnosti"] }}</td>
        </tr>
        <tr style="height: 0.4rem"></tr>
        <tr class="items_header">
            <td colspan="4">Označení dodávky</td>
            <td>Množství</td>
            <td colspan="2">Za kus</td>
            <td>DPH</td>
            <td colspan="3">Bez DPH</td>
            <td>S DPH</td>
        </tr>
        {% if popisek %}
        <tr style="height: 0.35rem"></tr>
        <tr>
            <td colspan="12">{{ popisek }}</td>
        </tr>
        {% endif %}
        {% for polozka in polozky %}
        <tr style="height: 0.35rem"></tr>
        <tr class="items">
            <td colspan="4">{{ polozka["dodavka"] }}</td>
            <td>{{ polozka["pocet"] }}</td>
            <td colspan="2">{{ polozka["cena"] }} {{ polozka["mena_ending"] }}</td>
            <td>{{ polozka["dph"] }} %</td>
            <td colspan="3">{{ polozka["bez_dph"] }} {{ polozka["mena_ending"] }}</td>
            <td>{{ polozka["s_dph"] }} {{ polozka["mena_ending"] }}</td>
        </tr>
        {% endfor %}
        {% for n in range((8 if not popisek else 7) - polozky|length) %}
        <tr style="height: 0.35rem"></tr>
        <tr class="items">
            <td colspan="4"></td>
            <td></td>
            <td colspan="2"></td>
            <td></td>
            <td colspan="3"></td>
            <td></td>
        </tr>
        {% endfor %}
        <tr style="height: 1rem"></tr>
        <tr class="bank_title cambria">
            <td colspan="2" rowspan="6">
                <img src="data:image/png;base64,{{ qr_platba_base }}" alt="qr_platba_kod" style="width: 120px; height: 120px;"/>
            </td>
            <td colspan="3">Bankovní účet</td>
            <td colspan="3">Symbol:</td>
            <td class="dph_td cambria">{% if dph|length > 2 %} DPH {{ dph[2][0] }} % {% endif %}</td>
            <td></td>
            <td colspan="2" class="right" style="font-weight: 200;">{% if dph|length > 2 %} {{ dph[2][1] }} {{ faktura_data["mena_ending"] }} {% endif %} </td>
        </tr>
        <tr>
            <td colspan="2">Účet</td>
            <td>{{ dodavatel[13] }}/{{ dodavatel[14] }}</td>
            <td>var:</td>
            <td colspan="2">{{ dodavatel[17] }}</td>
            <td class="dph_td cambria">{% if dph|length > 1 %} DPH {{ dph[1][0] }} % {% endif %}</td>
            <td></td>
            <td colspan="2" class="right">{% if dph|length > 1 %} {{ dph[1][1] }} {{ faktura_data["mena_ending"] }} {% endif %} </td>
        </tr>
        <tr>
            <td colspan="2">SWIFT:</td>
            <td>{{ dodavatel[16] }}</td>
            <td>konst:</td>
            <td colspan="2">{{ dodavatel[18] }}</td>
            <td class="dph_td cambria">{% if dph|length > 0 %} DPH {{ dph[0][0] }} % {% endif %}</td>
            <td></td>
            <td colspan="2" class="right">{% if dph|length > 0 %} {{ dph[0][1] }} {{ faktura_data["mena_ending"] }} {% endif %} </td>
        </tr>
        <tr>
            <td colspan="2">IBAN:</td>
            <td colspan="4">{{ dodavatel[15] }}</td>
            <td class="dph_td cambria">BEZ DPH</td>
            <td></td>
            <td colspan="2" class="right">{{ faktura_data["total_bez_dph"] }} {{ faktura_data["mena_ending"] }}</td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="4" class="underlined"></td>
        </tr>
        <tr style="height: 0.5rem"></tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="4" class="celkem_s_dph cambria">CELKEM S DPH</td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="4" class="full_price cambria">{{ faktura_data["total_s_dph"] }} {{ faktura_data["mena_ending"] }}</td>
        </tr>
        <tr style="height: 0.5rem"></tr>
        <tr>
            <td colspan="12" class="dodatek">Dovolujeme si vás upozornit, že v případě nedodržení data splatnosti Vám můžeme účtovat zákonný úrok z prodlení.</td>
        </tr>
        <tr class="name">
            <td colspan="12" class="cambria">{{ faktura_data["vystaveno"] }}</td>
        </tr>
        <tr class="prevzal">
            <td colspan="2" >Převzal</td>
            <td colspan="2"></td>
            <td >Dne</td>
        </tr>
    </table>
</body>
</html>