{% extends "base.html" %}

{% block main %}
<div class="w-100" id="background-image-second">
    <form method="GET" class="p-4 w-75 m-auto mt-5" action="/process_jednorazova_faktura" id="fakturuji-div">
        <div class="row">
            <h3 class="display-2 mb-5 text-center">Vytvořte si fakturu</h4>
            <div class="col w-50" id="dodavatel_col">
                <div class="dropdown">
                    <input class="form-control dropdown-toggle form-nazev" oninput="SetDropdownAresTest('dodavatel-get-data', this);" autocomplete="off" name="dodavatel_" placeholder="Dodavatel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu" id="hint-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="dodavatel-get-data" onclick="GetFirmaData(this.parentElement.parentElement.parentElement);">Dovyplnit ""</a>
                    </div>
                </div>
                <input type="text" class="form-control form-ico" name="dodavatel_ico" placeholder="IČO"/>
                <input type="text" class="form-control form-dic" name="dodavatel_dic" placeholder="DIČ"/>
                <div class="row form-row-padding">
                    <input type="text" class="form-control col form-street" name="dodavatel_street" placeholder="Ulice"/>
                    <input type="text" class="form-control col form-cislo-popisne" name="dodavatel_cislo_popisne" placeholder="Číslo popisné"/>
                </div>
                <div class="row form-row-padding">
                    <input type="text" class="form-control col form-city" name="dodavatel_city" placeholder="Město"/>
                    <input type="text" class="form-control col form-psc" name="dodavatel_psc" placeholder="PSČ"/>
                </div>

                <input type="text" class="form-control form-rejstrik" name="dodavatel_rejstrik" placeholder="Obchodní rejstřík"/>
                <div class="row form-row-padding">
                    <input type="text" class="form-control col form-country" name="dodavatel_country" placeholder="Země"/>
                    <input type="text" class="form-control col form-vlozka" name="dodavatel_vlozka" placeholder="Soudní vložka"/>
                </div>

                <input type="tel" class="form-control form-telefon" name="dodavatel_telefon" placeholder="Telefonní číslo"/>
                <input type="email" class="form-control form-email" name="dodavatel_email" placeholder="Email"/>
                <input type="text" class="form-control form-web" name="dodavatel_web" placeholder="Web"/>
            </div>
            <div class="col w-50" id="odberatel_col">
                <div class="dropdown">
                    <input class="form-control dropdown-toggle form-nazev" oninput="SetDropdownAresTest('odberatel-get-data', this);" autocomplete="off" name="odberatel_" placeholder="Odběratel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu" id="hint-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="odberatel-get-data" onclick="GetFirmaData(this.parentElement.parentElement.parentElement);">Dovyplnit ""</a>
                    </div>
                </div>
                <input type="text" class="form-control form-ico" name="odberatel_ico" placeholder="IČO"/>
                <input type="text" class="form-control form-dic" name="odberatel_dic" placeholder="DIČ"/>
                <div class="row form-row-padding">
                    <input type="text" class="form-control col form-street" name="odberatel_street" placeholder="Ulice"/>
                    <input type="text" class="form-control col form-cislo-popisne" name="odberatel_cislo_popisne" placeholder="Číslo popisné"/>
                </div>
                <div class="row form-row-padding">
                    <input type="text" class="form-control col form-city" name="odberatel_city" placeholder="Město"/>
                    <input type="text" class="form-control col form-psc" name="odberatel_psc" placeholder="PSČ"/>
                </div>
                <input type="text" class="form-control form-rejstrik" name="odberatel_rejstrik" placeholder="Obchodní rejstřík"/>
                <div class="row form-row-padding">
                    <input type="text" class="form-control col form-country" name="odberatel_country" placeholder="Země"/>
                    <input type="text" class="form-control col form-vlozka" name="odberatel_vlozka" placeholder="Soudní vložka"/>
                </div>
                <input type="tel" class="form-control form-telefon" name="odberatel_telefon" placeholder="Telefonní číslo"/>
                <input type="email" class="form-control form-email" name="odberatel_email" placeholder="Email"/>
                <input type="text" class="form-control form-web" name="odberatel_web" placeholder="Web"/>
            </div>
            <div class="p-4" id="bank_account_col" style="display: block;">
                <h4 class="display-5">Bankovní údaje dodavatele</h3>
                <div class="row">
                    <input type="text" class="form-control col" name="account_number" placeholder="*Číslo účtu"/>
                    <input type="text" class="form-control col" name="bank_number" placeholder="*Číslo banky"/>
                    <input type="text" class="form-control col" name="swift" placeholder="SWIFT"/>
                </div>
                <div class="row">
                    <input type="text" class="form-control col" name="konst_cislo" placeholder="Konst. symbol"/>
                    <input type="number" class="form-control col" name="var_cislo" placeholder="Var. symbol"/>
                    <input type="number" class="form-control col" name="iban" placeholder="IBAN"/>
                </div>
            </div>
        </div>
        <div id="polozky" class="mt-4">
            <h3 class="display-5">Položky</h3>
            {% if polozky %}
                {% for polozka in polozky %}
                <div class="polozka_item">
                    <div class="row">
                        <div class="col"><input type="text" step="0.01"  class="form-control col" name="polozka" placeholder="Dodávka:"/></div>
                        <div class="col"><input type="number"  class="form-control col" name="dph" placeholder="DPH"/></div>
                        <div class="col"><input type="number"  class="form-control col" name="count" placeholder="Počet"/></div>
                        <div class="col"><input type="number" step="0.01" class="form-control col" name="price" placeholder="Cena"/></div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="polozka_item">
                <div class="row">
                    <div class="col"><input type="text" class="form-control col" name="polozka" placeholder="Dodávka:"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="dph" placeholder="DPH"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="count" placeholder="Počet"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="price" placeholder="Cena"/></div>
                </div>
            </div>
            <div class="polozka_item">
                <div class="row">
                    <div class="col"><input type="text" class="form-control col" name="polozka" placeholder="Dodávka:"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="dph" placeholder="DPH"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="count" placeholder="Počet"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="price" placeholder="Cena"/></div>
                </div>
            </div>
            <div class="polozka_item">
                <div class="row">
                    <div class="col"><input type="text" class="form-control col" name="polozka" placeholder="Dodávka:"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="dph" placeholder="DPH"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="count" placeholder="Počet"/></div>
                    <div class="col"><input type="number" step="0.01" class="form-control col" name="price" placeholder="Cena"/></div>
                </div>
            </div>
            {% endif %}
            <div onclick="CreateItem();" style="cursor: pointer;" class="p-2"><p>Přidat položku</p></div>
        </div>
        <div class="mt-5 mb-5" id="popisek-nad-polozky-div">
            <h3 class="display-5">Popisek nad položky</h3>
            <div class="dropdown row">
                <input class="form-control col-6 w-100" name="description" placeholder="Popisek">
            </div>
        </div>
        <div class="mt-5 mb-5" id="variable-data">
            <h3 class="display-5">Variabilní data</h3>
            <p>Vyplňte variabilní data, které potřebujete na faktuře nebo je ponechte prázdné.</p>
            <div class="row px-3">
                <input class="form-control col" name="variable_title0" placeholder="Dodací list: ">
                <input class="form-control col-6 w-75" name="variable_data0" placeholder="...">
            </div>
            <div class="row px-3">
                <input class="form-control col" name="variable_title1" placeholder="Způsob dopravy: ">
                <input class="form-control col-6 w-75" name="variable_data1" name="description" placeholder="...">
            </div>
            <div class="row px-3">
                <input class="form-control col" name="variable_title2" placeholder="Místo určení: ">
                <input class="form-control col-6 w-75" name="variable_data2" name="description" placeholder="...">
            </div>
            <div class="row px-3">
                <input class="form-control col" name="variable_title3" placeholder="Objednávka: ">
                <input class="form-control col-6 w-75" name="variable_data3" name="description" placeholder="...">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="display-5">Datumy</h3>
                <div class="row">
                    <label class="col" for="vystaveni_date">Datum vystavení</label>
                    <input type="date" class="col form-control" name="vystaveni_date" id="vystaveni_date" placeholder="Datum vystavení"/>
                </div>
                <div class="row">
                    <label class="col" for="zdanpl_date">Zdanitelné plnění</label>
                    <input type="date" class="col form-control" name="zdanpl_date" id="zdanpl_date"/>
                </div>
                <div class="row">
                    <label class="col" for="splatnost_date">Datum splatnosti</label>
                    <input type="date" class="col form-control" name="splatnost_date" id="splatnost_date"/>
                </div>
            </div>

            <div class="row mt-5" id="faktury-details">
                <h3 class="display-5">Další detaily</h3>
                <div class="form-control border-0 col"¨id="faktura-vystavena-div">
                    <label class="col" for="vystavila_osoba">Kým je faktura vystavena?</label>
                    <input type="text" class="form-control" name="vystavila_osoba" id="vystavila_osoba" placeholder="např. Petr Novák - jednatel společnosti"/>
                </div>
                <div class="form-control border-0 col" id="cislo_faktury_box">
                    <label class="col" for="faktura_numbering">Číslo faktury</label>
                    <input type="text" class="form-control" name="faktura_numbering" id="faktura_numbering" placeholder="2022001"/>
                </div>
            </div>
            <div class="row my-3 mx-1" id="checkboxes-faktura">
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" name="prenesena_dph" id="prenesena_dph">
                    <label class="form-check-label" for="prenesena_dph">
                    Faktura vystavena v přeneseném DPH
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" name="dodavatel_dph" id="dodavatel_dph">
                    <label class="form-check-label" for="dodavatel_dph">
                    Dodavatel je plátcem DPH
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" onclick="CheckQrPlatba(this);" name="qr_platba" id="qr_platba">
                    <label class="form-check-label" for="qr_platba">
                    QR platba
                    </label>
                </div>
                <input class="hidden" type="checkbox" name="je_sifrovano" id="je_sifrovano" checked>
            </div>
            <div class="row mt-2" id="final-fakturuji-div">
                <div class="row w-50" id="currency-div">
                    <label class="form-check-label col" for="currency-select">Vyberte měnu faktury</label>
                    <select class="form-select col" name="currency-select" aria-label="Vyberte měnu" id="currency-select">
                        <option value="czk">CZK</option>
                        <option value="eur">EUR</option>
                        <option value="usd">USD</option>
                        <option value="gbp">GBP</option>
                    </select>
                </div>
               <input id="submit_btn" type="submit" class="btn-dark btn w-50 float-right form-control" value="Fakturuji"/>
          </div>
        </div>
    </form>
</div>
{% endblock %}