{% extends "base.html" %}

{% block main %}
<div class="row m-0">
  <div class="sidebar col">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white text-center">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/settings" class="nav-link active" aria-current="page">
         Všeobecné nastavení
        </a>
      </li>
      <li>
        <a href="/pridat_firmu" class="nav-link text-white">
          Přidat firmu
        </a>
      </li>
      <li>
        <a href="/upravit_firmu" class="nav-link text-white">
          Upravit firmu
        </a>
      </li>
      <li>
        <a href="/popisky" class="nav-link text-white">
          Popisky
        </a>
      </li>      
    </ul>
  </div>
</div>
<div class="mx-auto col-10">
  <h3 class="display-3">LOL</h3>
</div>
</div>
{% endblock %}